<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.brightstar.mapper.UserMapper">
<select id="insertUserInfo"  parameterType="UserCondition">
INSERT INTO USER_BASIC_INFO(USER_NAME,FURIGANA,PHONE_NO,PASSWORD,EMAIL_ADDRESS,POSTCODE,ADDRESS) 
	VALUES (#{userName}, #{furigana}, #{phoneNo}, #{password}, #{emailAddress}, #{postcode}, #{address});

</select>	

<select id="userInfoDetail" resultType="UserCondition" parameterType="String">
		SELECT
		  ID
		  ,USER_NAME
		  ,FURIGANA
		  ,PHONE_NO
		  ,PASSWORD
		  ,EMAIL_ADDRESS
		  ,POSTCODE
		  ,ADDRESS
		FROM USER_BASIC_INFO WHERE PHONE_NO = #{userid} AND  DELETE_FLAG = 0 ;
		
</select>

<select id="userInfo" resultType="UserCondition" parameterType="String">
		SELECT
		  ID 
		  ,USER_NAME
		  ,FURIGANA
		  ,PHONE_NO
		  ,PASSWORD
		  ,EMAIL_ADDRESS
		  ,POSTCODE
		  ,ADDRESS
		FROM USER_BASIC_INFO WHERE PHONE_NO = #{userid} AND  DELETE_FLAG = 0 ;		
</select>

<delete id="deleteUserInfo" parameterType="String">
		DELETE FROM USER_BASIC_INFO WHERE PHONE_NO = #{phoneNo}
</delete>

<update id="userInfoUpdate" parameterType="UserCondition">
		UPDATE 
			USER_BASIC_INFO 
		SET 
			USER_NAME = #{userName}
		  ,FURIGANA = #{furigana}
		  ,PHONE_NO =  #{phoneNo}
		  ,PASSWORD =  #{password}
		  ,EMAIL_ADDRESS = #{emailAddress}
		  ,POSTCODE = #{postcode}
		  ,ADDRESS = #{address}
		WHERE 
			ID = #{id} AND DELETE_FLAG = 0 
</update>

</mapper>