<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LRCatホテル管理システム</title>
	<link rel="stylesheet" th:href="@{/css/background.css}" href="../../static/css/background.css">
	<!-- Bootstrap Core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
		href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- MetisMenu CSS -->
	<link th:href="@{/vendor/metisMenu/metisMenu.min.css}" href="../../static/vendor/metisMenu/metisMenu.min.css"
		rel="stylesheet">
	<!-- Custom CSS -->
	<link th:href="@{/dist/css/sb-admin-2.css}" href="../../static/dist/css/sb-admin-2.css" rel="stylesheet">
	<!-- Custom Fonts -->
	<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
		href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- DataTables CSS -->
	<link th:href="@{/vendor/datatables-plugins/dataTables.bootstrap.css}"
		href="../../static/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
	<!-- DataTables Responsive CSS -->
	<link th:href="@{/vendor/datatables-responsive/dataTables.responsive.css}"
		href="../../static/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/LoginPage.css}" href="../../static/css/LoginPage.css">
	<style>
		li {
			font-size: 3vw;
			margin-left: 2vw;

		}

		h1 {
			margin-top: -5vw;
			text-align: center;

		}
	</style>
</head>

<body>
	<div class="logo"></div>
	<div class="Login-block">
		<img th:src="@{/img/logo.png}" src="../../static/img/logo.png">
	</div>
	<h1>LRCatホテル管理システム</h1>

	<form role="form" th:action="@{/login}" method="post" id="loginForm">

		<!-- pet_info -->
		<left>
			<div class="con">
				<div class="con_title">
				</div>
				<section class="body">
					<ol>
						<br>
						<br>
						<li>
							<a th:href="@{/reservationInfoList}" href="reservationInfoList.html"
								style="color: black;">予約情報管理</a>
						</li>

						<li>
							<a th:href="@{/userinfoList}" href="userinfoList.html" style="color: black;">
								個人情報管理
							</a>
						</li>

						<li>
							<a th:href="@{/petInfoList}" href="petInfoList.html" style="color: black;">
								ペット情報管理
							</a>
						</li>


						<li>
							<a th:href="@{/roomInfo}" href="roomInfo.html" style="color: black;">ルーム情報管理</a>
						</li>

					</ol>
				</section>
		</left>
		</from>

</body>

</html>