<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>reservation Page</title>
	<link th:href="@{/css/background.css}" rel="stylesheet" href="../../static/css/background.css">
	<link th:href="@{/css/table_color.css}" rel="stylesheet" type="text/css" href="../../static/css/table_color.css">
	<link th:href="@{/css/LoginPage.css }" rel="stylesheet" href="../../static/css/LoginPage.css">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/reservation.js}"></script>	<style>


		@font-face {
			font-family: "newFont";
			 src: url('../font/Stick-Regular.ttf')  
		}

		.form-body {
			font-family: "newFont";
			font-size: 2vw;
		}

		.inside {
			font-family: "newFont";
			font-size: 2vw;
			margin-bottom: 2vw;
		}
	</style>

</head>

<body class="form-body">
	<div class="logo"></div>
	<div class="Login-block">
		<img th:src="@{/img/logo.png}" src="../../static/img/logo.png">
		<h2 class="page-title" style="font-family: newFont !important;">LRCatホテル予約</h2>
	</div>
	<form role="form" action="@{/reservation}" method="post" id="insertReservation">

		<!-- reservation_info -->
		<center>
			<div class="con">
				<div class="con_title">
				</div>
				<br>
				<br>
				<table border="" cellspacing="" cellpadding="20" width="750px">
					<tbody>

						<tr>
							<td width="200px"><label for="room_number">ルームタイプ</label></td>
							<td>
								<select class="inside" id="roomSelect">
									<option value="none" selected disabled hidden>ルーム型を選択してください</option>
									<option value="A">スーパールーム</option>
									<option value="B">スタンダードルーム</option>
									<option value="C">デラックスルーム</option>
								</select>
							</td>
						</tr>

						<tr>
							<td width="200px"><label for="room_price" >一泊料金</label></td> 
							<td><span id="priceDisplay" class="inside"></span></td>
							
						</tr>

						<tr>
							<td width="200px"><label for="pet_name">ペット名</label></td>
							 <td>
                           <select class="inside" id="petNameSelect">
                            <option value="none" selected disabled hidden>登録したネコを選択してください</option>
                            <option value="petid"></option>
                         </select>
                        </td>
						</tr>
						
						<tr>   
							<td width="400px"><label for="checkin">チェックイン日</label></td>
							<td><input type="date" id="checkin" name="fromdate" class="form-control" 
							style="font-size: 22px;font-family: 'newFont';"></td>
							<div value="" id="room_msg" class="inside"></div>

						</tr>

						<tr>
							<td width="400px"><label for="checkout">チェックアウト日</label></td>
							<td><input type="date" id="checkout" name="fromdate" class="form-control" 
							style="font-size: 22px;font-family: 'newFont';"></td>
							<div value="" id="room_msg" class="inside"></div>

						</tr>
<!--						<tr>-->
<!--							<td width="200px"><label for="totalDays">宿泊期間</label></td>-->
<!--							<td class="inside"><input type="text" value="" id="totaldays" class="inside"> 天</td>-->
<!--						</tr>-->
					</tbody>
				</table>
				<center >
					<br>
					<button type="submit" class="btn btn-default inside"><a th:href="@{/submitPage}"
							href="submitPage.html" >マイページへ戻る</a></button>
					<button type="submit" class="btn btn-default inside"><a th:href="@{/reservationInfo}"
							href="reservationInfo.html">提出</a></button>
				</center>
	</form>
</body>

</html>